<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<!--动态生成内容，v-bind绑定属性 ，v-if显示隐藏，v-for循环遍历，v-on事件绑定，v-model双向数据绑定-->
    <div id="app">{{message}}</div>
    <div id="app-2">
        <span v-bind:title="message">鼠标悬停几秒可以查看此处绑定的动态提示信息</span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">{{todo.text}}</li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click='reverseMessage'>逆转消息</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message"/>
    </div>
    <script>
    var app= new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
    var app2=new Vue({
        el:'#app-2',
        data:{
            message:'页面加载于'+new Date().toLocaleString()
        }
    });
    var app3=new Vue({
        el:'#app-3',
        data:{
            seen:true
        }
    });
    var app4=new Vue({
        el:'#app-4',
        data:{
            todos:[
                {text:'学习 js'},{text:'学习 jq'},{text:'学习 vue'}
            ]
        }
    });
    var app5=new Vue({
        el:'#app-5',
        data:{
            message:'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });
    var app6=new Vue({
        el:'#app-6',
        data:{
            message:'Hello Vue!'
        }
    });
    </script>

<!--组件-->
<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList"
                   v-bind:key="item.id"
                   v-bind:todo="item">
        </todo-item>
    </ol>
</div>
<script>
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    });
    var app7=new Vue({
        el:'#app-7',
        data:{
            groceryList:[
                {id:0,text:'蔬菜'},
                {id:1,text:'沙拉'},
                {id:2,text:'玉米'},
                {id:3,text:'水果'}
            ]
        }
    })
</script>
</body>
</html>